<div class="container mt-5 d-flex p-2 justify-content-end">
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <div class="container">
                <h3>Iniciar Sessión</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" #userName required>
                </div>
                <div class="formGroup">
                    <input type="password" class="form-control" placeholder="Password" #userPassword required>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex p-2 justify-content-center mt-4">
                <button type="button" (click)="authService.SignIn(userName.value, userPassword.value)"
                    class="btn btn-primary color">Acceder</button>
            </div>
            <div class="forgotPassword">
                <span class="card-link" routerLink="/forgot-password">Olvidaste tu contraseña?</span>
            </div>
        </div>
    </div>
</div>